body{
  padding-top: 130px;
}

header{
  position: absolute;
  width: 100%;
  z-index: 10;
  top:0;
  min-width: 1200px;
  height: 130px;
  border-bottom: 1px solid  var(--main-color);
  background: #FFF;
}

header.active{
  position: fixed;
  top:-40px;
}

header nav.member{
  height: 40px;
  background: var(--dark-color)
}

header nav.member div.center{
  width: 1200px; /* 대부분 1200으로 씀 */
  height: inherit;
  margin: 0 auto;
  text-align: right;
  line-height: 40px;
}

header nav.member div.center a{
  margin-left: 10px;
  color:#AAA;
  font-size: 0.8em;
  font-weight: bold;
}

header nav.member div.center a:hover{ /* hover는 필수 */
  color:#FFF;
}

header div.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 90px;
  margin: 0 auto;
  
}

header div.bottom h1{
  height: 50%;
}

header div.bottom h1 img{
  height: 100%;
}

nav.gnb{
  height: 45px;
}

nav.gnb > ul{
  display: flex;
  height: inherit;
}

nav.gnb > ul >li{
  height: inherit;
}

nav.gnb > ul >li >a{
  display: block;
  height: inherit;
  padding: 0 40px;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 600;
}

nav.gnb > ul >li:hover >a{
  color: var(--point-color);
}

nav.gnb > ul > li > ul > li > a{
  display: block;
  height: 40px;
  line-height: 40px;
  background: var(--main-color);
  text-align: center;
  color: white;
  transition: all 0.3s;
}

nav.gnb > ul > li > ul > li > a:hover{
  background: var(--sub-color);
}

nav.gnb > ul > li > ul{
  display: none;
}

nav.gnb .menu_member,
nav.gnb .sns,
nav.gnb h6{
  display: none;
}

nav.quick{
  position: absolute;
  z-index: 11;
  right: 30px;
  width: 80px;
  transition: all 0.7s;
  opacity: 0;
  pointer-events: none;
}

nav.quick.active{
  opacity: 1;
  pointer-events: all;
}

nav.quick > *{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  font-size: 0.9em;
  font-weight: 700;
}

nav.quick b{
  background: orange;
  height: 35px;
}

nav.quick a{
  background: #444;
  height: 90px;
  border-bottom: 1px solid #666;
}

nav.quick a:hover{
  color: yellowgreen;
}

nav.quick a i{
  font-size: 2.5em;
  margin-bottom: 5px;
}

nav.quick button{
  width: 100%;
  height: 35px;
  background: orange;
}



