.home_visual {
  position: relative;
  height: 600px;
  background: #000;
  overflow: hidden;
}

.home_visual .swiper-wrapper {
  height: 100%;
}

.home_visual .swiper-wrapper .swiper-slide {
  position: relative;
  height: 100%;
}

.home_visual .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home_visual .swiper-wrapper .swiper-slide figcaption {
  position: absolute;
  width: 70%;
  max-width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFF;
}

.home_visual .swiper-wrapper .swiper-slide figcaption h6 {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
}

.home_visual .swiper-wrapper .swiper-slide figcaption p {
  font-size: 1.1em;
  font-weight: 600;
}

/* motion */
.home_visual .swiper-wrapper .swiper-slid {
  overflow: hidden;
}

.home_visual .swiper-wrapper .swiper-slide img {
  transform: scale(1.2);
  filter: brightness(60%);
  transition: all 3s;
}

.home_visual .swiper-wrapper .swiper-slide.swiper-slide-active img {
  transform: scale(1);
  filter: brightness(90%);
}

.home_visual .swiper-wrapper .swiper-slide figcaption p,
.home_visual .swiper-wrapper .swiper-slide figcaption h6 {
  opacity: 0;
  transition: all 2s;
}

.home_visual .swiper-wrapper .swiper-slide figcaption h6 {
  transform: translateY(-50px);
}

.home_visual .swiper-wrapper .swiper-slide figcaption p {
  transform: translateY(50px);
}

.home_visual .swiper-wrapper .swiper-slide.swiper-slide-active figcaption p,
.home_visual .swiper-wrapper .swiper-slide.swiper-slide-active figcaption h6 {
  opacity: 1;
  transform: translateY(0);
}






.home_visual .next,
.home_visual .prev {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: #FFF;
  text-shadow: 1px 1px 0 #000;
  opacity: 0.5;
}

.home_visual .next:hover,
.home_visual .prev:hover {
  opacity: 1;
}

.home_visual .next {
  right: 30px;
}

.home_visual .prev {
  left: 30px;
}

.home_visual .indicator {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  text-align: center;
}

.home_visual .indicator span {
  background: #FFF;
  opacity: 0.5;
}

.home_visual .indicator span.swiper-pagination-bullet-active {
  transform: scale(1.3);
  opacity: 1;
}